{% extends 'base_survey.html' %}
{% load static %}
{% block title %}アンケート完了{% endblock title %}

{% block content %}
<!-- メイン -->
<main class="container m-auto">
  <!-- ここからcontentブロック -->
  <article class="p-2 m-auto">
    <div class="text-center">
      <h2 class="survey-header mb-4">アンケート送信完了</h2>
    </div>
  </article>

  <!-- 見出し -->
  <article class="p-2 mb-4 bg-info-subtle">
    <p class="py-4 text-center">
      アンケート送信が完了いたしました。<br>
      今後の参考とさせていただきます。<br>
      今後とも都市ガスのご利用を<br>
      よろしくお願いいたします。
    <p>
  </article>

  <!-- アンケート -->
  <article class="pt-4 text-center">
    <button type="button" class="btn btn-secondary">閉じる</button>
  </article>
  <!-- ここまでcontentブロック -->
</main>
{% endblock content %}