{% extends 'base_survey.html' %}
{% load static %}
{% block title %}QRコード発行{% endblock title %}

{% block content %}
<article class="p-2 m-auto">
  <div class="text-center">
    <h2 class="survey-header mb-4">QRコード発行</h2>
  </div>
  <!-- ログイン -->
  <section class="p-4 border border-secondary shadow bg-body-tertiary rounded">
    <form action="{% url 'qr' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <fieldset id="login-form" class="mb-4">
        <label for="receipt-number">受付番号</label>
        <input type="number" name="receipt-number" id="receipt-number" class="form-control">
        <label for="receipt-date">受付日</label>
        <input type="date" name="receipt-date" id="receipt-date" class="form-control">
        <label for="work-day">作業日</label>
        <input type="date" name="work-day" id="work-day" class="form-control">
      </fieldset>
      <div class="text-center">
        <button type="submit" class="btn btn-secondary">発行</button>
      </div>
    </form>
  </section>
</article>
<script src="../../static/voc_app/js/script.js"></script>
{% endblock content %}