{% extends 'base_survey.html' %}
{% load static %}
{% block title %}QRコード表示{% endblock title %}

{% block content %}
<!-- メイン -->
<main class="container m-auto">
  <!-- ここからcontentブロック -->
  <article class="p-2 m-auto">
    <div class="text-center mb-2">
      <h2 class="survey-header mb-2">QRコードが発行されました</h2>
      <p class="text-center" style="font-size: 0.8em;">以下のORコードをスマートフォンでスキャンして下さい</p>
    </div>
    <!-- ログイン -->
    <section class="p-4">
      <img src="../static/voc_app/img/qr-code.png" alt="">
    </section>
  </article>
  <!-- ここまでcontentブロック -->
</main>
{% endblock content %}