{% extends 'base_admin.html' %}
{% load static %}
{% block title %}表彰状贈呈一覧・回数集計{% endblock title %}

{% block content %}
    <article class="p-2 m-auto">
      <h2 class="mb-4">お客様の声アプリ 表彰状贈呈一覧・回数集計</h2>
    
      <!-- フラッシュメッセージ -->
      <section class="p-4 mb-4 text-center border border-danger bg-danger-subtle">
        <p class="fw-bold">表彰状贈呈一覧・回数集計表示に失敗しました</p>
      </section>

      <!-- お客様の声一覧 -->
      <section id="awards-list" class="totalling p-4 mb-4 border border-secondary shadow bg-body-tertiary rounded">
        <div>贈呈年月</div><div>作業者</div><div>順位</div><div>過去の表彰回数</div>
        <div>2024年9月</div><div>山田太郎</div><div>1</div><div>2</div>
        <div>2024年8月</div><div>山田太郎</div><div>1</div><div>2</div>
        <div>2024年7月</div><div>山田太郎</div><div>1</div><div>2</div>
      </section>
    </article>
{% endblock content %}